<div class="container" ng-controller="LoginCtrl" ng-hide="isLoggedIn">
    <form role="form">
        <div class="form-group">
            <label for="serverUrlInput">Server url</label>
            <input type="text" class="form-control" id="serverUrlInput" ng-model="serverUrl">
        </div>
        <div class="form-group">
            <label for="authTokenInput">Auth token</label>
            <input type="text" class="form-control" id="authTokenInput" ng-model="authToken">
        </div>
        <button ng-click="checkLogin()" class="btn btn-primary">Login</button>
    </form>
</div>


<ul class="list-group">
      <li ng-repeat="tweet in data.tweets | filter:{metadata.read:false} | limitTo:20" class="list-group-item">
          <div class="container">
              <div class="row">
                  <div class="col-xs-2 col-sm-1">
                      <!-- TODO clean username -->
                      <a ng-href="https://twitter.com/achauve/status/{{tweet.twitterData.id}}" target="_blank">
                          <img ng-src="{{tweet.twitterData.user.imageUrl}}"/>
                      </a>
                  </div>
                  <div class="col-xs-10 col-sm-9">
                      <div class="row">
                          <div class="col-xs-12">
                              <strong>{{tweet.twitterData.user.name}}</strong> @{{tweet.twitterData.user.pseudo}}
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12" ng-show="tweet.twitterData.retweet">
                              RT @{{tweet.twitterData.retweet.user.pseudo}} {{tweet.twitterData.retweet.user.name}}
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row spacer">
                  <div class="col-xs-12">
                      <p ng-bind-html-unsafe="tweet.twitterData.text | parseUrlFilter:'_blank'"></p>
                  </div>

              </div>
              <div class="row">
                  <div class="col-xs-12" class="control-group">

                      <div class="btn-group">
                          <button type="button" class="btn btn-default btn-lg" ng-class="{disabled: markingAsRead}" ng-click="markAsRead(tweet)">
                              <span class="glyphicon glyphicon-trash"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-lg">
                              <span class="glyphicon glyphicon-floppy-disk"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-lg" ng-click="retweet(tweet)">
                              <span class="glyphicon glyphicon-repeat"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-lg" ng-click="retweetAsRT(tweet)">
                              <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-lg" ng-click="markAsInteresting(tweet)">
                              <span class="glyphicon glyphicon-star"></span>
                          </button>
                      </div>
                  </div>
              </div>

              <div class="row spacer" ng-show="tweet.twitterData.entities.urls">
                  <div class="col-xs-12">
                      <ul>
                          <li ng-repeat="url in tweet.twitterData.entities.urls">
                            <a ng-href="{{url.expanded_url}}" target="_blank" class="btn btn-default btn-lg">{{url.display_url}}</a>
                          </li>
                      </ul>
                  </div>
              </div>

          </div>
      </li>
  </ul>

